<div class="px-sm-2 px-md-3 px-lg-4 my-4 ">
    <h3 class="texto-primario fw-semibold ps-4">
        Visualizar póliza
    </h3>
   <!--cargamos el componente de las tablas-->
</div>

<div class="container-fluid">
    <div class="row ps-4  ">
        <!--
        <div class="col-3 ps-4 ">
            <select class="form-select ps-4  "  [(ngModel)]="TipoActual"  (change)="CambiarTipoBusqueda($event)">
                <option  *ngFor="let BuscarP of TipoBuscarP; let i=index" value="{{BuscarP.id}}" >
                    {{ BuscarP.nombre }}
                </option>
                
              </select>
        </div>
        -->
        <div class="col-3 ps-4">
            <input type="text" 
             class="form-control" 
             [(ngModel)]="txtBuscarEmpresaP"
             #txtBuscarEmpresa 
             (keyup)="PrecionaTeclaEmpresa(txtBuscarEmpresa.value)"
             placeholder="Digita la busqueda">
            <p class="text-danger" *ngIf="!istxtVacioEmpresa">por favor digitar en la busqueda</p>
        </div>
        <div class="col-2">
            <button type="button" class="boton primario relleno mx-1" (click)="bBuscarEmpresa()">Buscar</button>
            <button type="button" class="boton primario relleno " (click)="bLimpiarEmpresa()">Limpiar</button>
        </div>
    </div> 
    <!--TABLA EMPRESA--> 
    <div class="row py-2  ps-4">
        <div class="col-12  ps-4">
            
            <div class="mb-3 table-responsiveP ">
                <div class="table-responsive">
                    <!--tabla-empresas table border mb-1-->
                    <table class="tabla-informacionP w-100">
                        <thead class="w-100">
                            <!-- fondo-secundario texto-primario -->
                            <tr height="38px" class="fs-14px  encabezado-tabla">
                                <th class="fw-semibold">
                                    Visualizar
                                </th>
                                <th class="fw-semibold">
                                    NIT
                                </th>
                                <th class="fw-semibold">
                                    Razón Social
                                </th>
                                <th class="fw-semibold">
                                    Tipo de Servicio / Modalidad
                                </th>
                                <th class="fw-semibold">
                                    Departamento
                                </th>
                                <th class="fw-semibold">
                                    Municipio
                                </th>                           
                                <th class="fw-semibold">
                                    Capacidad transportadora A
                                </th>
                                <th class="fw-semibold">
                                    Capacidad transportadora B
                                </th>
                                <th class="fw-semibold">
                                    Capacidad transportadora C
                                </th>
                                <th class="fw-semibold">
                                    Cumplimiento de póliza
                                </th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr [ngClass]="{'fs-14px borderbuttomP':true, 'bgFilaPTable ':BgFilaActivaEmpresa(i) }" *ngFor="let empresa of ListadoEmpresaP ; let i = index"
                                >
                                <td class="text-center">
                                    <span  class="text-danger cursor-pointer"
                                    (click)="BuscarRegistroPolizaEmpresa(empresa.nit,i)">
                                    <img _ngcontent-adr-c39="" src="assets/img/buscar-documento.png" alt="buscar-encuesta" draggable="false" class="cursor-pointer" tabindex="0" ng-reflect-router-link="/administrar,encuesta,1" ng-reflect-query-params="[object Object]">
                                </span>
                                </td>
                                <td class="text-center">{{ empresa.nit }}</td>
                                <td class="text-center">{{ empresa.razon_social }}</td>
                                <td class="text-center">{{ empresa.modalidad }}</td>
                                <td class="text-center">{{ empresa.departamento }}</td>
                                <td class="text-center">{{ empresa.municipio }}</td>
                                <td class="text-center">{{ empresa.capacidadTA }}</td>
                                <td class="text-center">{{ empresa.capacidadTB }}</td>
                                <td class="text-center">{{ empresa.capacidadTC }}</td>
                                <td class="text-center">{{ EstadoEmpresa(empresa.estado) }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        
        </div>
    </div> 
    <div class="d-flex justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
              <li [ngClass]="{ 'page-item': true, 'disabled':HabilitarAnteriorEmpresa} " (click)="CambiarPaginaEmpresa(PagAnteriorEmpresa)">
                <a class="page-link"  tabindex="-1" aria-disabled="true">Ant</a>
              </li>
              <li  *ngFor="let i of ListadoPaginaEmpresa" [ngClass]="{'page-item': true, 'active': (i==PagEmpresaActual)}" (click)="CambiarPaginaEmpresa(i)"><a class="page-link" >{{ i }}</a></li>              
              <li [ngClass]="{ 'page-item': true, 'disabled':HabilitarSiguienteEmpresa} " (click)="CambiarPaginaEmpresa(PagSiguienteEmpresa)">
                <a class="page-link" >Sig</a>
                
              </li>
            </ul>
          </nav>
    </div> 
   <!--FIN DE LA EMPRESA-->
    <div class="row ps-4">
        <div class="col-12 ps-4">
            <hr class="hr">
        </div>
    </div>
    <!---FIN DEL SEPARADOR-->
    <div [ngClass]="{'noVisiblePoliza':isVisiblePoliza}">
        <div class="row ps-4">
            
            <div class="col-3 ps-4">
                <input type="text" 
                class="form-control" 
                [(ngModel)]="txtBuscarPolizaP"
                #txtBuscarPoliza 
                (keyup)="PrecionaTeclaPoliza(txtBuscarPoliza.value)"
                placeholder="Filtrar por póliza">
                <p class="text-danger" *ngIf="!istxtVacioPoliza">por favor digitar la póliza</p>
            </div>
            <div class="col-2">
                <button type="button" class="boton primario relleno mx-1" (click)="bBuscarPoliza()">Buscar</button>
                <button type="button" class="boton primario relleno " (click)="bLimpiarPoliza()">Limpiar</button>
            </div>
        </div>
        <!--TABLA POLIZA--> 
        <div class="row py-2 ps-4">
            <div class="col-12 ps-4">
                <div class="mb-3 table-responsiveP ">
                    <div class="table-responsive">
                        <!--tabla-empresas table border mb-1-->
                        <table class="tabla-informacionP w-100">
                            <thead class="w-100">
                                <!-- fondo-secundario texto-primario -->
                                <tr height="38px" class="fs-14px  encabezado-tabla">
                                    <th class="fw-semibold">
                                        Visualizar
                                    </th>
                                    <th class="fw-semibold">
                                        Tipo de poliza
                                    </th>
                                    <th class="fw-semibold">
                                        N° de póliza
                                    </th>
                                    <th class="fw-semibold">
                                        Estado póliza
                                    </th>
                                    <th class="fw-semibold">
                                        Fecha de cargue
                                    </th>
                                    <th class="fw-semibold">
                                        Vigencia - Fecha de inicio
                                    </th>                           
                                    <th class="fw-semibold">
                                        Vigencia - Fecha fin
                                    </th>
                                    <th class="fw-semibold">
                                        Aseguradora
                                    </th>
                                    <th class="fw-semibold">
                                        Cantidad de vehículos
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr [ngClass]="{'fs-14px borderbuttomP':true, 'bgFilaPTable ':BgFilaActivaPoliza(i) }" *ngFor="let poliza of ListadoPolizaP ; let i = index"
                                >
                                <td class="text-center">
                                    <span  class="text-danger cursor-pointer"
                                    (click)="BuscarRegistroPoliza(poliza.n_poliza,poliza.tipo_poliza_id,i,poliza)">
                                    <img _ngcontent-adr-c39="" src="assets/img/buscar-documento.png" alt="buscar-encuesta" draggable="false" class="cursor-pointer" tabindex="0" ng-reflect-router-link="/administrar,encuesta,1" ng-reflect-query-params="[object Object]">
                                </span>
                                </td>
                                <td class="text-center">{{ poliza.tipo_poliza }}</td>
                                <td class="text-center">{{ poliza.n_poliza}}</td>
                                <td class="text-center">{{ EstadoPoliza(poliza.estado) }}</td>
                                <td class="text-center">{{  poliza.fecha_cargue  | date:'dd/MM/yyyy' }}</td>
                                <td class="text-center">{{ poliza.v_fecha_inicio | date:'dd/MM/yyyy' }}</td>
                                <td class="text-center">{{ poliza.v_fecha_final  | date:'dd/MM/yyyy' }}</td>
                                <td class="text-center">{{ poliza.aseguradora }}</td>
                                <td class="text-center">{{ poliza.cantidad_vehiculo }}</td>
                               

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>        
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                  <li [ngClass]="{ 'page-item': true, 'disabled':HabilitarAnteriorPoliza()} " (click)="CambiarPaginaPoliza(PagAnteriorPoliza)">
                    <a class="page-link"  tabindex="-1" aria-disabled="true">Ant</a>
                  </li>
                  <li  *ngFor="let i of ListadoPaginaPoliza" [ngClass]="{'page-item': true, 'active': (i==PagPolizaActual)}" (click)="CambiarPaginaPoliza(i)"><a class="page-link" >{{ i }}</a></li>              
                  <li [ngClass]="{ 'page-item': true, 'disabled':HabilitarSiguientePoliza()} " (click)="CambiarPaginaPoliza(PagSiguientePoliza)">
                    <a class="page-link" >Sig</a>
                    
                  </li>
                </ul>
              </nav>
        </div> 
        <!---INICIO DEL SEPARADOR-->
        <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>
        <!---FIN DEL SEPARADOR-->
        <!--TABLA DE CANTIDAD-->
        <div class="row py-2 ps-4">
            <div class="col-12 ps-4">
                <div class="mb-3 table-responsiveP ">
                    <div class="table-responsive">
                        <!--tabla-empresas table border mb-1-->
                        <table class="tabla-informacionP w-100">
                            <thead class="w-100">
                                <!-- fondo-secundario texto-primario -->
                                <tr height="38px" class="fs-14px  encabezado-tabla">
                                    <th class="fw-semibold">
                                        Total de vehículos activos
                                    </th>
                                    <th class="fw-semibold">
                                        Total de pólizas contractualesde vehículos activos
                                    </th>
                                    <th class="fw-semibold">
                                        Total de pólizas extracontractualesde vehículos activos
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr>
                                    <td class="text-center"> {{ TotalVehiculoActivo }} </td>
                                    <td class="text-center"> {{ TotalPolizaContractuales }} </td>
                                    <td class="text-center">  {{ TotalExtraPolizaContractuales }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <!--DETTALLE DE LA POLIZA-->
    <div [ngClass]="{'noVisiblePoliza':isVisibleDetallePoliza}">
        <div class="row ps-4">
            <div class="col-3 ps-4">
                <div class="d-block mb-3 ">
                    <table class="tabla-informacionP w-100" aria-describedby="tableDescResponsive">
                      <tbody>
                        <tr class="cajaNpolizVisualizar fw-bold fs-14px texto-azul-004884" >
                          <td scope="col" >Póliza</td>
                          <td>{{ objPoliza?.n_poliza }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>
        </div>

        <!--MODALIDADES-------------------------------------------------->
        <div class="row ps-4">
            <div class="col ps-4 py-2 ">
                <div class="borderP mt-1 tabla-informacionP w-100 table-responsiveP">
                    <div class="row encabezado-PModalidad borderP">
                      <div class="col-12 d-flex ">
                        <h2 class="fs-14px fw-semibold texto-azul-004884 aligPModalidad">Datos de modalidad</h2>
                      </div>
                    </div>
                    <div class="row py-2 alingFilaP">
                
                      <div *ngFor="let modalidad of objPoliza?.modalidad; let i=index" class="col-md-2">
                        
                        <div class="col form-check">
                          
                            <input class="form-check-input aligPModalidad"  type="checkbox" checked disabled [value]="modalidad.obj_modalidad.modpol_id" >
                            <label>
                                {{modalidad.obj_modalidad.modpol_nombre}}
                            </label>
                        </div>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div>
            <h2 class="fs-20px fw-semibold texto-azul-004884 mb-3 text-center mt-3 w-100">
                PÓLIZAS VIGENTES {{  objPoliza?.tipo_poliza }}
            </h2>
        </div>
        <!---INICIO DEL SEPARADOR-->
        <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>
        <div class="row ps-4">
            <div class="col ps-4">
                <div>
                    <span class="fs-14px fw-semibold texto-azul-004884">
                      INFORMACIÓN SOBRE PÓLIZAS VIGENTES {{  objPoliza?.tipo_poliza }}
                    </span>
                  </div>
            </div>
        </div>

         <!---INICIO DEL SEPARADOR-->
         <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>

        <div class="row ps-4">
            <div class="col-6 ps-4">
                <div class="row">
                    <div class="col-6">
                        <div class="col-6 justify-content-start">
                            <span class="fs-14px">Número de póliza</span><span class="validacion"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class=" justify-content-start">
                            <input class="form-control" [ngModel]="objPoliza?.n_poliza" disabled="true"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 ps-4">
                <div class="row">
                    <div class="col-6">
                        <div class="justify-content-start">
                            <span class="fs-14px">Vigencia de la póliza: (Desde: inicio Vigencia)</span><span class="validacion"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class=" justify-content-start">
                            <input class="form-control" [ngModel]="objPoliza?.v_fecha_inicio | date:'dd/MM/yyyy' " disabled="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row ps-4 py-3">
            <div class="col-6 ps-4">
                <div class="row">
                    <div class="col-6">
                        <div class="justify-content-start">
                            <span class="fs-14px">Seleccione Entidad Aseguradora</span><span class="validacion"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class=" justify-content-start">
                            <select class="form-select form-control"  disabled="true">
                                <option>{{ objPoliza?.aseguradora }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 ps-4">
                <div class="row">
                    <div class="col-6">
                        <div class="justify-content-start">
                            <span class="fs-14px">Vigencia de la póliza: (Hasta: Final Vigencia)</span><span class="validacion"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class=" justify-content-start">
                            <input class="form-control" [ngModel]="objPoliza?.v_fecha_final| date:'dd/MM/yyyy' " disabled="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!---INICIO DEL SEPARADOR-->
         <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>



        <!----AQUI VIENE LOS AMPAROS------------------------------------------>
        <div class="row ps-4">
            <div class="col ps-4">
                <div>
                    <span class="fs-16px fw-semibold texto-azul-004884">
                      Amparos básicos
                    </span>
                  </div>
            </div>
        </div>

         <!---INICIO DEL SEPARADOR-->
         <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>

        <div class="row ps-4">
            <div class="col-4 ps-4 centrado">
                <div>
                    <span class=" fw-semibold texto-azul-004884 centrado">
                     Coberturas y/o amparos básicos
                    </span>
                  </div>
            </div>
            <div class="col-3 centrado">
                <div class="centrado">
                    <span class=" fw-semibold texto-azul-004884 centrado">
                     Coberturas
                    </span>
                  </div>
            </div>
            <div class="col">
                <div class="centrado">                    
                    <span class=" fw-semibold texto-azul-004884 centrado">
                     Valor Asegurado (SMMLV)
                    </span>
                  </div>
            </div>
            <div class="col ">
                <div class="centrado">
                    <span class=" fw-semibold texto-azul-004884 centrado justify-content-center">
                     Limite (SMMLV POR PERSONA)
                    </span>
                  </div>
            </div>
            <div class="col">
                <div class="centrado">
                    <span class=" fw-semibold texto-azul-004884 centrado">
                        Deducible (Si lo tiene)
                    </span>
                  </div>
            </div>
        </div>

        <div class="row ps-4 py-2  centrado" *ngFor="let amparoB of objAmparoPolizaBasico ; let i = index ">
            <div class="col-4 ps-4" >
                <div>
                    <span class="fs-14px">
                      {{ amparoB.cobertura_descricpion }}
                    </span>
                  </div>
            </div>
            <div class="col-3 ">
                <div>
                    <span class="fs-14px">
                        {{ amparoB.cobertura_nombre }}
                    </span>                                             
                  </div>
            </div>
            <div class="col ">
                <div>
                    <input class="form-control" [ngModel]="amparoB.valor_asegurado" disabled="true"/>
                    
                  </div>
            </div>
            <div class="col">
                <div>
                    <input class="form-control" [ngModel]="amparoB.limite" disabled="true"/>
                  </div>
            </div>
            <div class="col ">
                <div>
                    <input class="form-control" [ngModel]="amparoB.deducible" disabled="true"/>
                  </div>
            </div>
        </div>
        <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>
        <!------------AMPAROS ADICIONALES------------------------------------------------------>
        <div class="row ps-4">
            <div class="col ps-4">
                <div>
                    <span class="fs-16px fw-semibold texto-azul-004884">
                      Amparos adicionales
                    </span>
                  </div>
            </div>
        </div>

         <!---INICIO DEL SEPARADOR-->
         <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>

        <div class="row ps-4">
            <div class="col-4 ps-4 centrado">
                <div class="centrado">
                    <span class="fw-semibold texto-azul-004884 centrado">
                     Coberturas y/o amparos básicos
                    </span>
                  </div>
            </div>
            <div class="col-3 centrado">
                <div class="centrado">
                    <span class="fw-semibold texto-azul-004884 centrado">
                     Coberturas
                    </span>
                  </div>
            </div>
            <div class="col">
                <div class="centrado">                    
                    <span class="fw-semibold texto-azul-004884 centrado">
                     Valor Asegurado (SMMLV)
                    </span>
                  </div>
            </div>
            <div class="col ">
                <div class="centrado">
                    <span class="fw-semibold texto-azul-004884 centrado">
                     Limite (SMMLV POR PERSONA)
                    </span>
                  </div>
            </div>
            <div class="col">
                <div class="centrado">
                    <span class="fw-semibold texto-azul-004884 centrado">
                        Deducible (Si lo tiene)
                    </span>
                  </div>
            </div>
        </div>

        <div class="row ps-4 py-2 centrado" *ngFor="let amparoB of objAmparoPolizaAdicionales ; let i = index ">
            <div class="col-4 ps-4" >
                <div>
                    <span class="fs-14px">
                      {{ amparoB.cobertura_descricpion }}
                    </span>
                  </div>
            </div>
            <div class="col-3 ">
                <div>
                    <span class="fs-14px">
                        {{ amparoB.cobertura_nombre }}
                    </span>                                             
                  </div>
            </div>
            <div class="col ">
                <div>
                    <input class="form-control" [ngModel]="amparoB.valor_asegurado" disabled="true"/>
                    
                  </div>
            </div>
            <div class="col">
                <div>
                    <input class="form-control" [ngModel]="amparoB.limite" disabled="true"/>
                  </div>
            </div>
            <div class="col ">
                <div>
                    <input class="form-control" [ngModel]="amparoB.deducible" disabled="true"/>
                  </div>
            </div>
        </div>
        <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>
        <!----FIN LOS AMPAROS------------------------------------------>

        
        <!-- FONDO RESPONSABILIDAD -->
        <div class="row  ps-4">
            <div class="col-12 ps-4 ">
                
                <div class="fondo-desplegable-azulP ">
                    <div class="row">
                        <div class="col-8 aligPModalidad">
                            ¿La empresa tiene constituido un Fondo de Responsabilidad de que trata el Decreto Único Reglamentario del Sector
                            Transporte?
                        </div>
                        <div class="col-1 texto">
                            <input type="checkbox" disabled title="Si" [checked]="Isresponsabilidad" ><p>SI</p>
                        </div>
                        <div class="col-1 texto">
                            <input type="checkbox" title="No"  disabled [checked]="!Isresponsabilidad"><p>NO</p>
                        </div>
                    </div>
                </div>
                
                
            </div> 
        </div>
         <div *ngIf="Isresponsabilidad">
            
    
            <div class="row  ps-4 py-2">
                <div class="col-12 ps-4 ">
                    <span class="fs-14px fw-semibold centrar">
                        Información sobre el fondo de responsabilidad
                      </span>
                      <hr>
                </div>
                
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Fecha Constitución Fondo</span><span class=""></span>
                </div>
                <div class="col-6 ps-4  ">
                    <input type="text" class="form-control" title="Fecha constitución" disabled  name="fechaConstitucion" [value]="fecha_constitucionPR | date:'dd/MM/yyyy' ">
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Número de Resolución Superintendencia Financiera o entidad competente</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control" title="Resolución" disabled  [value]="resolucionPR" >
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Fecha de Resolución Superintendencia Financiera o entidad competente</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control" title="Fecha resolución" disabled [value]="fecha_resolucionPR | date:'dd/MM/yyyy'">
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Valor Reservas Técnicas del Fondo para cubrir las responsabilidades</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control" title="Valor Reservas Técnicas " disabled [value]="valor_reservaPR" >
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Fecha de corte reservas técnicas del fondo para cubrir las responsabilidades/fecha de corte reservas</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control" title="Fecha de corte reservas técnicas" disabled [value]="fecha_reservaPR | date:'dd/MM/yyyy'"  >
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Otra información complementaria del Fondo</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control" title="Otra información complementaria" disabled [value]="informacionPR" >
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">¿El fondo opera en primera o segunda capa?</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control"  disabled  [value]="operacionPR">
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Valor del cubrimiento 1 capa (SMMLV)</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control"  disabled [value]="valor_cumplimiento_unoPR" >
                </div>            
            </div>
    
            <div class="row  ps-4 py-2">
                <div class="col-6 ps-4 ">
                    <span class="fs-14px">Valor del cubrimiento 2 capa (SMMLV)</span><span class=""></span>
                </div>
                <div class="col-6 ps-4 ">
                    <input type="text" class="form-control"  disabled  [value]="valor_cumplimiento_dosPR">
                </div>            
            </div>
         </div>
        

        <div class="row ps-4">
            <div class="col-12 ps-4">
                <hr class="hr">
            </div>
        </div>
        <!------NOVEDADES-------------------------------------------------------->
        <div class="row ps-4">
            <div class="col ps-4">
                <div>
                    <span class="fs-16px fw-semibold texto-azul-004884">
                      Novedades de Póliza
                    </span>
                  </div>
            </div>
        </div>        
        <div class="row py-2 ps-4">
            <div class="col-12 ps-4">
                <div class="mb-3 table-responsiveP ">
                    <div class="table-responsive">
                        <!--tabla-empresas table border mb-1-->
                        <table class="tabla-informacionP w-100">
                            <thead class="w-100">
                                <!-- fondo-secundario texto-primario -->

                                <tr height="38px" class="fs-14px  encabezado-tabla">
                                    <th class="fw-semibold">
                                        Tipo de póliza
                                    </th>
                                    <th class="fw-semibold">
                                        N° de póliza
                                    </th>
                                    <th class="fw-semibold">
                                        Placa
                                    </th>
                                    <th class="fw-semibold">
                                        Fecha actualización
                                    </th>
                                    <th class="fw-semibold">
                                        Estado
                                    </th>
                                    <th class="fw-semibold">
                                       Observación
                                    </th>                           
                                    
                                    
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr [ngClass]="{'fs-14px borderbuttomP':true, 'bgFilaPTable ':false }" *ngFor="let novedad of novedadePolizaP ; let i = index"
                                >                                
                                <td class="text-center">{{ novedad.tipoPoliza }}</td>
                                <td class="text-center">{{ novedad.n_poliza}}</td>
                                <td class="text-center">{{ novedad.placa }}</td>
                                <td class="text-center">{{ novedad.fechaActualizacion| date:'dd/MM/yyyy' }}</td>
                                <td class="text-center">{{ EstadoNovedadPoliza(novedad.estado)  }}</td>
                                <td class="text-center">{{ novedad.observacion  }}</td>
                               
                               

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
        <div class="d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                  <li [ngClass]="{ 'page-item': true, 'disabled':HabilitarAnteriorNovedadPoliza()} " (click)="CambiarPaginaNovedadPoliza(PagAnteriorNovedadPoliza)">
                    <a class="page-link"  tabindex="-1" aria-disabled="true">Ant</a>
                  </li>
                  <li  *ngFor="let i of ListadoPaginaNovedadPoliza" [ngClass]="{'page-item': true, 'active': (i==PagNovedadPolizaActual)}" (click)="CambiarPaginaNovedadPoliza(i)"><a class="page-link" >{{ i }}</a></li>              
                  <li [ngClass]="{ 'page-item': true, 'disabled':HabilitarSiguienteNovedadPoliza()} " (click)="CambiarPaginaNovedadPoliza(PagSiguienteNovedadPoliza)">
                    <a class="page-link" >Sig</a>
                    
                  </li>
                </ul>
              </nav>
        </div>               

    </div> <!--fin de detalle de poliza-->
    
                   

</div>
   
  
    <!--
    <div class="d-flex align-items-center">
        <div class="entradas-de-texto-govco">
            <label for="numeroPlaca">Digite el número de la placa a consultar</label>
            <input type="text" id="numeroPlaca" placeholder="Digite la placa." [(ngModel)]="placa">
        </div>
        <button type="button" class="btn-govco fill-btn-govco" (click)="consultarPoliza(placa,)"
            style="width: 165px; height: 42px; margin-left: 1rem;">
            Consultar
        </button>
    </div>-->


<app-popup #popup/>