<div class="mb-3">
    <table class="tabla-modalidad-radio table border mb-1">
        <thead>
            <tr height="38px" class="fs-14px  fondo-secundario texto-primario">
                <th *ngIf="!soloLectura" colspan="2" class="fw-semibold"></th>
                <th class="fw-semibold">
                    Sede
                </th>
                <th class="fw-semibold">
                    Departamento
                </th>
                <th class="fw-semibold">
                    Municipio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr 
            class="fs-14px" 
            *ngIf="sedes.length === 0 && registrosACrear.length === 0 && !formularioVisible">
                <td colspan="2" *ngIf="!soloLectura"></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr class="fs-14px" *ngFor="let sede of sedes ; let i = index"
                [ngClass]="{ 'bg-peligro': esRegistroAEliminar(i) }">
                <td *ngIf="!soloLectura" colspan="2">
                    <span *ngIf="esRegistroAEliminar(i)" class="text-danger cursor-pointer"
                        (click)="cancelarEliminacionRegistro(i)">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </span>
                    <span *ngIf="!esRegistroAEliminar(i)" class="text-danger cursor-pointer"
                        (click)="eliminarRegistro(i)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </span>
                </td>
                <td>{{ sede.nombre }}</td>
                <td>{{  obtenerNombreDepartamento(sede.departamento) }}</td>
                <td>{{ obtenerNombreCiudad(sede.municipio) }}</td>
            </tr>
            <tr class="fs-14px bg-exitoso" *ngFor="let sede of registrosACrear ; let indice = index">
                <td *ngIf="!soloLectura" colspan="2">
                    <span class="text-danger cursor-pointer" (click)="retirarDeRam(indice)">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </span>
                </td>
                <td>{{ sede.nombre }}</td>
                <td>{{  obtenerNombreDepartamento(sede.departamento) }}</td>
                <td>{{ obtenerNombreCiudad(sede.municipio) }}</td>
    
            </tr>
            <tr class="fs-14px" [formGroup]="formulario" *ngIf="formularioVisible">
                <td class="align-middle">
                    <span class="text-danger cursor-pointer" (click)="ocultarFormulario()">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </span>
                </td>
                <td class="align-middle">
                    <span class="text-success cursor-pointer" (click)="agregarARam()">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                    </span>
                </td>
                <td>
                    <input formControlName="nombre" style="max-width: 300px;" class="form-control" placeholder="Nombre de la sede." />
                    <app-validacion [control]="this.formulario.controls['nombre']"
                        [validacion]="'required'" [texto]="'El nombre es requerido.'" />
                </td>
                <td>
                    <select formControlName="departamento" style="max-width: 300px;" class="form-select">
                        <option value="">Selecciona un departamento.</option>
                        <option [value]="departamento.id" *ngFor="let departamento of departamentos">
                            {{ departamento.id }} - {{ departamento.name }}
                        </option>
                    </select>
                    <app-validacion [control]="this.formulario.controls['departamento']"
                        [validacion]="'required'" [texto]="'El departamento es requerido.'" />
                </td>
                <td>
                    <select formControlName="municipio" style="max-width: 300px;" class="form-select">
                        <option value="">Selecciona un municipio.</option>
                        <option [value]="ciudad.id" *ngFor="let ciudad of ciudades">
                            {{ ciudad.id }} - {{ ciudad.name }}
                        </option>
                    </select>
                    <app-validacion [control]="this.formulario.controls['municipio']"
                        [validacion]="'required'" [texto]="'El municipio es requerido.'" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <span class="validacion" *ngIf="sedeRequerida">Debe agregar al menos una sede.</span>
    </div>
    <div class="d-flex mt-3" *ngIf="!formularioVisible && !soloLectura">
        <button type="button" class="boton primario relleno" (click)="mostrarFormulario()" >
            Agregar
        </button>
    </div>
</div>
