<div class="px-sm-2 px-md-3 px-lg-4 my-4" *ngIf="encuesta || encuestaCuantitativa">
    <h2 class="fw-semibold texto-primario mb-3" *ngIf="encuesta">Resumen - Ficha cuestionario -
        {{encuesta.nombreEncuesta}}</h2>
    <p *ngIf="encuesta">{{encuesta.descripcionClasificacion}}</p>
    <div class="d-block mb-3" *ngIf="encuestaCuantitativa">
        <table class="tabla-informacion">
            <thead>
                <tr>
                    <th colspan="2">Información del formulario.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Documento de quien realiza la encuesta</td>
                    <td class="fw-semibold">
                        {{ encuestaCuantitativa.idVigilado }}
                    </td>
                </tr>
                <tr>
                    <td>Vigencia</td>
                    <td class="fw-semibold">
                        {{ encuestaCuantitativa.vigencia }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-block mb-3" *ngIf="encuesta">
        <table class="tabla-informacion">
            <thead>
                <tr>
                    <th colspan="2">Información del formulario.</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Documento de quien realiza la encuesta</td>
                    <td class="fw-semibold">
                        {{ encuesta.idVigilado }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between align-items-center" *ngIf="!soloLectura">
        <div ngbDropdown *ngIf="idEncuesta != 2">
            <button ngbDropdownToggle type="button" class="boton primario relleno" id="dropdownBasic1">Exportar</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="this.exportarExcel()">Excel</button>
                <button ngbDropdownItem (click)="this.exportarPDF()">PDF</button>
            </div>
        </div>

        <button type="button" class="boton primario delineado" (click)="enviarEncuesta()"
            [disabled]="hayCambios || soloLectura">Enviar a ST</button>

        <button type="button" class="boton primario relleno" (click)="guardarEncuesta()"
            [disabled]="!hayCambios || soloLectura">Guardar</button>
        <button type="button" class="boton primario delineado"
            [routerLink]="['/administrar', 'encuestas', idEncuesta]">Volver</button>
    </div>
    <div class="d-flex w-100 mt-4">
        <app-encuesta #componenteEncuesta class="w-100"
            *ngIf="encuesta && idReporte && idEncuesta && idVigilado && idEncuesta != 2" [soloLectura]="soloLectura"
            [camposDeVerificacion]="camposDeVerificacion" [camposDeVerificacionVisibles]="camposDeVerificacionVisibles"
            [idVigilado]="idVigilado" [idReporte]="idReporte" [encuesta]="encuesta" [idEncuesta]="idEncuesta"
            [justificable]="encuesta.observacion" (hanHabidoCambios)="setHayCambios($event)"
            (encuestaGuardada)="manejarEncuestaGuardada()" />

        <app-encuesta-cuantitativa #componenteEncuestaCuantitativa *ngIf="idEncuesta == 2 && encuestaCuantitativa"
            [soloLectura]="soloLectura" [encuesta]="encuestaCuantitativa" (hanHabidoCambios)="setHayCambios($event)"
            (encuestaGuardada)="manejarEncuestaCuantitativaGuardada()" />
    </div>
</div>
<app-popup #popup />
<app-modal-confirmar-enviar #modalConfirmar />