.encabezado-tabla{
    background: #E6EFFD 0% 0% no-repeat padding-box;
    /*border-radius: 5px 5px 0px 0px;*/
    color: #004884;
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;   
    font: normal normal bold 16px/16px Montserrat;
    letter-spacing: 0px;    
}

.tdyP
{
    border-right: 1px solid gainsboro;
    
}
.tdxP
{
    border-bottom: 1px solid rgb(9, 9, 9);
    
}
