<!--mb-4-->
<div class="table-responsive ps-4 py-4 centrado">
    <app-tabla-actividades-form-ejec
    [idVigilado]="idVigilado"
    [soloLectura]="soloLectura"
    [actividades]="tab.actividades" 
    [actividadesFaltantes]="actividadesFaltantes"
    (nuevasRespuestas)="manejarNuevasActividades($event)"
    />
    <div class="py-3 centrado"></div>
    <app-tabla-items-adicionales-form-ejec
    (nuevasRespuestas)="manejarNuevosAdicionales($event)"
    [soloLectura]="soloLectura"
    [adicionales]="tab.adicionales" 
    [adicionalesFaltantes]="adicionalesFaltantes"
    />
</div>