<div class="mb-4">
    <h3 class="texto-primario fw-semibold fs-16px">Importar patios</h3>
    <app-tabla-patios [idVigilado]="idVigilado" [patios]="patios" [soloLectura]="true" />
    <div class="d-flex opciones align-items-start">
        <div class="d-flex hipervinculo me-3" (click)="descargarArchivo(plantilla!)">
            <span class="material-symbols-outlined">
                file_save
            </span>  <span class="fs-14px">Descargar plantilla</span>
        </div>
        <div class="d-flex hipervinculo me-3" (click)="descargarArchivoUrl(archivoCargado!)">
            <span class="material-symbols-outlined">
                file_save
            </span>
            <span class="fs-14px">Descargar archivo cargado</span> 
        </div>
        <div class="d-flex ms-auto">
            <fieldset class="importar-archivo">
                <label class="fw-semibold fs-12px">Importar archivo</label>
                <app-input-archivo 
                [nombre]="'importar-patios'" 
                [acepta]="['.xlsx', '.csv']" 
                [(ngModel)]="archivoACargar"
                (ngModelChange)="manejarCambiosArchivo()" />
            </fieldset>
        </div>
    </div>
</div>